
<!-- The alert box to be shown when the submit button is clicked-->
{% if results %}
	{{quiz.score}}
{% else %}
    <form action="{% url 'quiz:show_quiz' quiz.id %}" method="POST">
   	{% csrf_token %}
   		{% for question in quiz.question_set.all %}
   			{{question}}
   			<br />
   			<ul>
   			{% for answer in question.answer_set.all %}
   				<li><label><input type="radio" name="{{question.id}}" value="{{answer.id}}" />{{answer}}</label></li>
   				
   				{% if answer.id in answers %}
   					Correct
   				{% endif %}
   				
   			{% endfor %}
   			</ul>
   		{% endfor %}
    	<input type="submit" value="Submit">
    </form>
{% endif %}